USE [master]
GO
/****** Object:  Database [TP2]    Script Date: 27/4/2022 09:36:09 ******/
CREATE DATABASE [TP2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP2]
GO
/****** Object:  User [alumno]    Script Date: 27/4/2022 09:36:09 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 27/4/2022 09:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[nombre] [varchar](50) NULL,
	[edad] [int] NULL,
	[peso] [int] NULL,
	[historia] [varchar](50) NULL,
	[imagen] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
