USE [master]
GO
/****** Object:  Database [TP2]    Script Date: 10/5/2022 08:26:56 ******/
CREATE DATABASE [TP2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP2]
GO
/****** Object:  User [alumno]    Script Date: 10/5/2022 08:26:56 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 10/5/2022 08:26:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[nombre] [varchar](50) NULL,
	[edad] [int] NULL,
	[peso] [int] NULL,
	[historia] [varchar](50) NULL,
	[imagen] [varchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

INSERT [dbo].[Personaje] ([nombre], [edad], [peso], [historia], [imagen], [id]) VALUES (N'Lamas', 33, 44, N'fw', N'fwewe', 1)
INSERT [dbo].[Personaje] ([nombre], [edad], [peso], [historia], [imagen], [id]) VALUES (N'Clara', 12, 66, N'r3wr3', N'fwefwe', 2)
INSERT [dbo].[Personaje] ([nombre], [edad], [peso], [historia], [imagen], [id]) VALUES (N'Lautipcgamer', 44, 33, N'egre', N'erger', 3)
SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
USE [master]
GO
